ion-content{
  --background: none;
  background-image: url('background.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}


ion-card-title {
  font-size:17px;
  color:white;
}

ion-card-subtitle {
  font-size:15px;
}

ion-item {
  font-size:15px;
}

.bedtimeTitle {
  text-align:center;
  color:white;
}

ion-label {
  color:white;
}

ion-card {
  background-color:#1a1a1a;
}